/* Navbar.css */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%; /* Make navbar occupy full width */
}

.containerz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Add padding horizontally */
}

.left-section {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin: 0;
  font-size: 24px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}




/* Navbar.css

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  margin: 0;
  font-size: 24px;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
} */
